.second-view{
    text-align: center;
    color: #fff;
    h3{
        font-size: 1.666667rem;
    }
    ul{
        li{
            margin-top: 1.666667rem;
            font-size: 1rem;
        }
    }
}