.education{
    // position: relative;
    text-align: center;
    h3{
        margin-bottom: 2rem;
        // text-align: center;
        color: #14213D;
    }
    .major{
        // display: inline-block;
        position: relative;
        // top: 50%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 50%;
        .major-item{
            line-height: 1.5;
            font-size: .95rem;
            span:nth-of-type(1) {
                float: left;
            };
            span:nth-of-type(2) {
                float: right;
            };
        }
    }
    .course{
        display: inline-block;
        // text-align: left;
        max-width: 80%;
        .course-item {
            display: inline-block;
            max-width: 80%;
            margin-top: 1.87rem;
            // text-align: left;
            font-size: .85rem;
            h5{
                margin-bottom: .833333rem;
                font-size: 1rem;
            }
            span {
                display: inline-block;
                margin: .125rem;
                padding: .375rem;
                font-weight: bold;
                color: #fff;
                border-radius: .25rem;
                background-color: #727582;
              }
          }
          
    }
}

@media screen and (max-width: $screen-phone) {
    .major-item{
        span{
            display: block;
            float: none;
        }
        
    }
}