.first-view{
    text-align: center;
    /* h3{
        font-weight: 400;
        font-size: 2.333333rem;
        color: #fff;
    } */
    p{
        margin-top: 1.666667rem;
    }
    .name,.title{
        font-weight: 700;
        font-size: 1.375rem;
        color: $dark_blue;
    }
    [class^="title"]{
        font-size: 1rem;
    }
    .title-college{
        color: #fff;
    }
    .pdf{
        text-decoration: underline;
        font-size: .8rem;
        color: $dark_blue;
    }
}

